<div class="container">
    <div class="card" style="width: 700px" *ngFor="let question of filtered_ques">
        <div class="card-body">
          <h5 class="card-title">{{question.title}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Asked at {{question.createdAt}}</h6>
          <p class="card-text">{{question.body}}</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <p class="h1">Answer this question</p>
        <form class="form">

            <div class="form-outline mb-4">
                <textarea
                  class="form-control"
                  id="form4Example3"
                  rows="4"
                  placeholder="Answer this question"
                  formControlName="description"
                  [(ngModel)]="enteredAnswer"
                ></textarea>
              </div>
              
              <button type="button" (click)="submit(question)">Submit</button>
            </form>
      </div>

      
</div>